@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600&family=Quicksand:wght@700&family=Red+Hat+Display:wght@500&display=swap');

.body {
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: center;
    color: white;
    max-width: 2000px;
}

.main {
    max-width: 1200px;
    text-align: center;
    font-weight: 500;
    margin-top: 200px;
}

.title {
    font-size: 65px;
}

.score {
    margin: 60px;
    text-align: right;
    font-size: 25px;
}

.guess__btn {
    font-family: inherit;
    font-size: 25px;
    width: 200px;
    height: 50px;
    margin: 30px 50px;
    border: solid 1px black;
    border-radius: 10px;
}

.result {
    font-size: 35px;
}

._hide {
    display: none;
}
